<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airplanes</title>
</head>
<body>
<div>
    <h1>Airplanes List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Model</th>
            <th>Passenger Capacity</th>
            <th>Country of Origin</th>
            <th>Number of Engines</th>
        </tr>
        <tr th:each="airplane : ${airplanes}">
            <td th:text="${airplane.id}"></td>
            <td th:text="${airplane.name}"></td>
            <td th:text="${airplane.model}"></td>
            <td th:text="${airplane.passengerCapacity}"></td>
            <td th:text="${airplane.countryOfOrigin}"></td>
            <td th:text="${airplane.numberOfEngines}"></td>
        </tr>
    </table>
</div>
</body>
</html>